<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Data</key>
	<array>
		<dict>
			<key>Name</key>
			<string>显示</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<dict>
					<key>Data</key>
					<integer>30</integer>
					<key>Name</key>
					<string>月经周期</string>
				</dict>
				<dict>
					<key>Name</key>
					<string>经期长度</string>
					<key>Data</key>
					<integer>5</integer>
				</dict>
				<dict>
					<key>Name</key>
					<string>排卵日</string>
					<key>Data</key>
					<integer>14</integer>
				</dict>
			</array>
			<key>Name</key>
			<string>周期</string>
			<key>SubName</key>
			<string>月经周期、经期长度、排卵日</string>
		</dict>
		<dict>
			<key>Data</key>
			<array>
				<dict>
					<key>Name</key>
					<string>经期提醒</string>
					<key>Data</key>
					<array/>
				</dict>
				<dict>
					<key>Name</key>
					<string>受孕提醒</string>
					<key>Data</key>
					<array/>
				</dict>
				<dict>
					<key>Name</key>
					<string>排卵日提醒</string>
					<key>Data</key>
					<array/>
				</dict>
			</array>
			<key>Name</key>
			<string>提醒</string>
			<key>SubName</key>
			<string>经期提醒、受孕提醒、排卵日提醒</string>
		</dict>
		<dict>
			<key>Data</key>
			<integer>0</integer>
			<key>Name</key>
			<string>锁定</string>
			<key>SubName</key>
			<string>密码锁定</string>
		</dict>
		<dict>
			<key>Name</key>
			<string>数据</string>
		</dict>
	</array>
	<key>Version</key>
	<string>1.0</string>
</dict>
</plist>
