<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>显示</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>周期</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>提醒</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>锁定</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>数据</string>
	</dict>
</array>
</plist>
